
.yaroslav-melnyk img{
	width: 200px;
	height: 215px;
}
.yaroslav-melnyk button{
	width: 200px;
	height: 30px;
	background: #27AE60;
	border-radius: 5px;
}
.yaroslav-melnyk input{
	width: 200px;
	height: 30px;
}