<div class="profile">
	<section ng-if="showProfile" class="profile__info">
		<img class="profile__info__avatar" src="roman-mahotsky/me.jpg" alt="">
		<h3 class="profile__info__name">{{student.firstName}} {{student.lastName}}</h3>
		<button ng-click="openSettings()" class="btn btn-edit">Edit</button>
	</section>
	<section ng-if="settingsIsOpen" class="profile__settings">
		<input class="profile__settings__first-name" ng-model="settings.firstName" type="text">
		<input ng-model="settings.lastName" class="profile__settings__last-name" type="text">
		<footer class="profile__settings__navigation">
			<button ng-click="saveSettings()" class="btn btn-save">Save</button>
			<button ng-click="closeSettings()" class="btn btn-close">Close</button>
		</footer>
	</section>
</div>